.mainWrapper {
    margin: 0 100px;
}

.designOnly1 {
    height: 47vh;
    width: 100%;
    border: $lineWeight1 solid $primC;
    border-radius: 10px;
    margin-top: 5vh;
    @include center;
    .designOnly2{
        height: calc(47vh + 25px);
        width: calc(100% - 25px);
        border: $lineWeight1 solid $primC;
        @include center;
        .designOnly3{
            height: calc(47vh + 50px);
            width: calc(100% - 25px);
            border: $lineWeight1 solid $primC;
            border-radius: 10px;
            @include center;
            .headline{
                //Flex
                display: flex;
                flex-direction: column;
                align-items: center;
                //
                height: 47vh;
                width: 100%;   
                div{
                    height: 220px;
                    display: flex;
                    align-items: flex-end;
                    position: relative;
                    h2 {
                        width: 100%;
                        text-shadow:0px 0px 3px $rightC;
                        margin-bottom: 10px;
                    }
                    .designOnly7 {
                        position: absolute;
                        bottom: 0;
                        height: 2px;
                        width: 90%;
                        margin-left: 5%;
                        border-top: 1px solid $highLightC;
                    }
                }
                h3 {
                    margin: 20px;
                    
                }
            }
        }
    }
}

@keyframes lights {
    0% {text-shadow:0px 0px 6px $rightC;};
    20% {text-shadow:0px 0px 7px $rightC;};
    40% {text-shadow:0px 0px 8px $rightC;};
    50% {text-shadow:0px 0px 8px $rightC;};
    60% {text-shadow:0px 0px 8px $rightC;};
    80% {text-shadow:0px 0px 7px $rightC;};
    100% {text-shadow:0px 0px 6px $rightC;};
}

.lightsOn {
    animation-name: lights;
    animation-duration: 1s;
}       

.submitButtonsBank{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7vh 0 0 25px;
    width: calc(100% - 50px);
    div{
        width: 31%;
        height: 80px;
        border: $lineWeight1 solid $primC;
        button {
            background-color: $baseC;
            margin: 10px 10px;
            width: calc(100% - 20px);
            height: 60px;
            &:hover {
                background-color: $highLightC;
                color: $baseC;
                box-shadow: 0px 0px 10px 0 $highLightC;
            }
            &:focus {
                background-color: $highLightC;
                color: $baseC;
                box-shadow: 0px 0px 10px 0 $highLightC;
            }
        }
        
    }
} 
.submitButtonsBank  div button.right {
    background-color: $rightC;
    color: $baseC;
    &:hover{box-shadow: 0px 0px 10px 0 $rightC;}
    &:focus{box-shadow: 0px 0px 10px 0 $rightC;}
    
}

.submitButtonsBank div button.wrong {
    background-color: $wrongC;
    color: $baseC;
    &:hover{box-shadow: 0px 0px 10px 0 $wrongC;}
    &:focus{box-shadow: 0px 0px 10px 0 $wrongC;}
}

.gridFather {
    display: grid;
    grid-template-rows: 92px 1fr;
    position: relative;
    .flexFather{
    display: flex;
    justify-content: center;
    .goAgain {
        border: $lineWeight1 solid $primC;
        background-color: $baseC;
        box-shadow: 0 0 0 15px $baseC;
        display: inline-block;
        height: 80px;
        width: 80px;
        transform: rotate(45deg);
        margin-top: 50px;
        //flex
        @include center;
        //
        div {
            width: 60px;
            height: 60px;        
            &:hover {
                background-color: $rightC;
                box-shadow: 0px 0px 10px 0 $primC;
            }
            &:focus {
                background-color: $rightC;
                box-shadow: 0px 0px 10px 0 $primC;
            }
            button {
                transform: rotate(-45deg);
                width: 100%;
                height: 100%;
                transition: color 0, box-shadow 1s;
                &:hover {
                    color: $baseC;
                    }
                &:focus {
                    color: $baseC;
                    }
                }
            }
        }
    }
}
.designOnly5, .designOnly6 {
    height: 2px; 
    width: 90%;
    position: absolute;
    left: 5%;
    border-top: 1px solid $highLightC;
}

.designOnly5 {
    top: 80px;
}

.designOnly6 {
    top: 104px
}

.designOnly4 {
    border-top: $lineWeight1 solid $highLightC;
}


.resultExplanation {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    .recipe, .definition {
        margin-top: 90px;
        width: 100%;
        height: 250px;
        border: $lineWeight1 solid $rightC;
        ////////
        div {
            margin: 2.5vw;
            h4 {
                text-shadow:0px 0px 3px $rightC;
            }
            span {
                display: inline-block;
                margin: 15px 0 10px 0;
            }
        }
    }
}

footer p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    border-top: $lineWeight1 solid $rightC;
    color: $rightC;
}

.hiddenTrue {
    visibility: hidden !important;
}