@import 'setup';
@import 'variables';
@import 'text';
@import 'questionSection';

$baseC: #002D30;

html, button {
    color: $primC;
    font-size: 125%;
}

body {
    background-color: #001D24;
}

.mainWrapper {
    margin: 0 100px;
}